extend layout

block individual_css
    link(href="stylesheets/blog.css" rel="stylesheet") 

block content
    //- the blog container
    div.container 
        //- artical header begin
        div.blog-header
            h1.blog-title #{blog.title}
            p.lead.blog-description(style="color: #49bf9d") 最后编辑时间: #{blog.lastEditDate}
        //- artical header end
        
        //- blog row begin
        div.row
            div.col-sm-8.blog-main
                div.blog-post
                    !{blog.content}
                    
                hr
                h2 Comments
                //- comment block begin
                div(class="media")
                    div(class="media-left media-top")
                        span.glyphicon.glyphicon-comment
                    div(class="media-body")
                        h4(class="media-heading") Middle aligned media
                        p ahahahahahahahahahahahahahahahahahahahahahahahahahahahah
                        p ahahahahahahahahahahahahahahahahahahahahahahahahahahahah
                        p ahahahahahahahahahahahahahahahahahahahahahahahahahahahah
                    //- comment form will be inserted into here
                    span.btn.btn-primary.btn-generate-editor(type="button") 回复
                        input(type="hidden" value="333" name="blogId")
                        input(type="hidden" value="444" name="replyToId")
                        input(type="hidden" value="aaa" name="replyToName")
                hr
                //- comment block end
                
                //- comment block begin
                // div(class="media")
                //     div(class="media-left media-top")
                //         span.glyphicon.glyphicon-comment
                //     div(class="media-body")
                //         h4(class="media-heading") Middle aligned media
                //         p ahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahah
                //         p ahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahah
                //         p ahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahah
                //     //- comment form will be inserted into here
                //     span.btn.btn-primary.btn-generate-editor(type="button") 回复
                //         input(type="hidden" value="555" name="blogId")
                //         input(type="hidden" value="666" name="replyToId")
                // hr
                //- comment block end

                //- default reply form begin
                h2 Comment to this article
                form.form-horizontal(action="/blogs/commentcommit/" method="post")
                    input(type="hidden" value="#{blog._id}" name="blogId")
                    input(type="hidden" value="0" name="replyToId")
                    input(type="hidden" value="0" name="replyToName")
                    div.form-group
                        label(for="nickNameId" class="col-sm-2 control-label") Nickname
                        div.col-sm-10
                            input(type="text" class="form-control" id="nickNameId" placeholder="Nickname for displaying" name="nickName")
                    div.form-group
                        label(for="emailId" class="col-sm-2 control-label") E-mail
                        div.col-sm-10
                            input(type="text" class="form-control" id="emailId" placeholder="E-mailing for contacting" name="email")
                    div.form-group
                        //- name="commentContent"
                        script#container-default(name="commentContent" type="text/plain")
                    button.btn.btn-success(type="submit" style="") 提交
                //- default reply form end
                    
            div.col-sm-3.col-sm-offset-1.blog-sidebar
                div.sidebar-wrapper
                    div.sidebar-module.sidebar-module-inset 
                        h4 文章导引
                        p 欢迎阅读本文. 如若发现错误之处, 请联系我以帮忙改正, 谢谢.
                        p Author: Linghan Cheung 
                        p Email: lhcheung1991@gmail.com
                    div.sidebar-module#sidebar-content
                        h4 目录
                        ol.list-unstyled#category
                    div.sidebar-module#sidebar-content
                        h4 相关文章
                        ol.list-unstyled#relative-article
                            each relBlog, idx in relativeBlogs
                                li
                                    a(href="/blogs/checkblog?blogId=#{relBlog._id}")= relBlog.title
                        
                                 
        //- blog row end  
    //- 配置文件
    script(type="text/javascript" src="ueditor/ueditor.config.js")
    //- 编辑器源码文件
    script(type="text/javascript" src="ueditor/ueditor.all.js")
    //- 实例化编辑器  
    script(type="text/javascript" src="javascripts/blog.js")